@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}

body{
    background-image: url(../image/bgimg.jpg);
    background-size: cover;
}

.uppertxt{
    color: #ffff;
    font-size: 40px;
    letter-spacing: 5px;
    float: left;
    margin: 10px 0 0 15px;
    transition: letter-spacing 2s ;
    cursor: pointer;
    
    

}
.uppertxt:hover{
    letter-spacing: 10px;
}

.signupimg{
    position: absolute;
    left: 71.5%;
    top: 9%;
}

.signwrp{
    float: right;
    margin: 10% 13% 0 0;
    width: 300px;
    height: 400px;
}
.signuptxt{
    color: #fff;
    font-size: 25px;
    margin: 0 0 0 30%;
    
}
.logo{
    position: absolute;
    top: 34%;
    left: 2%;
}

input[type=text], select{
    width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    border: solid 1px #ffff;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 254, 254, 0);
    color: aliceblue;
    
    

}

input[type=password], select{
    width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    border: solid 1px #ffff;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 254, 254, 0);
    color: aliceblue;
    
    

}

input[type=email], select{
    width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    border: solid 1px #ffff;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    color: aliceblue;

}

input[type=date], select{
    width: 250px;
    padding: 8px;
    margin-bottom: 20px;
    border: solid 1px #ffff;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    

}

input[type=radio], select{
    margin-left: 10px;
    cursor: pointer;
}

p{
    display: inline;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}
.btn{
    padding: 10px;
    background-color: blanchedalmond;
    border-radius: 20px;
    margin: 0 15px 0 0;
    text-align: center;
    display: inline;
    cursor: pointer;
    border: hidden;
    font-weight: bold;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
  }  
@media screen and (max-width:520px){
    .uppertxt{
        text-align: center;
        float: none;
    
    }
    .logo{
        display: none;
    }
    .signupimg{
       position: unset;
       margin: 10px 0 5px 38% ;
    }
    .signwrp{
    float: none;
    margin: 0;
    width: auto;
    height: auto;
    margin-left: 25%;
    }


    .signuptxt{
        font-size: 20px;
        margin: 0 0 0 16%;
        
    }


    input[type=text], select{
        width: 150px;
        padding: 5px;
        display: block;
        margin-top: 10px;
    }
    
    input[type=password], select{
        width: 150px;
        padding: 5px;
        display: block;
    }
    
    input[type=email], select{
        width: 150px;
        padding: 5px;
        display: block;
    }
    
    input[type=date], select{
        width: 150px;
        padding: 3px;
        display: block;
        margin-bottom: 0;
    }
    
    input[type=radio], select{
        margin-left: 4px;
        cursor: pointer;
    }
    .btn{
        padding: 5px;
    }
    p{
        text-transform: uppercase;
        font-size: 12px;
    }
}
